body {
	background: black;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	height: 70px;
	width: 70px;
	margin-right: 20px;
	margin-bottom: 15px;
}
.postcard-header h1 {
	width: 400px;
	margin: auto;
	padding-left: 80px;
	text-decoration: underline;
}
.postcard-body {
	display: flex;
}
.body-left p {
	margin-top: 0%;
	margin-left: 15px;
	font-family: cursive;
}
.body-right .body-left {
	padding: 20px;
}
.postcard-footer {
	text-align: center;
}
.postcard-footer button {
	background-color: gray;
	padding: 5px;
}
.body-right input {
	padding-left: 15px;
}
